body{
  background-color:white;
}
.subscribe-button{
  background-color: rgb(204,0,0);
  border-radius:2px ;
  border: none;
  line-height: normal;
  border-color: rgb(204, 0, 0);
  color: white;
  cursor: pointer;
  padding: 10px 16px;
  transition: opacity 0.15s;
  font-size: 14px;
  font-family: Arial;
}

.subscribe-button:hover{
  opacity: 0.8;
}

.subscribe-button:active{
  opacity: 0.5;
}

.join-button{
  color: rgb(6,95,212);
  border-radius: 2px;
  background-color:white;
  cursor: pointer;
  border-color: rgb(6,95,212);
  padding:9px 15px;
  border-style: solid;
  transition: background-color 1s,color 1s;
  font-size: 14px;
  font-family: Arial;
  margin-right: 12px;
  line-height: normal;
  margin-left: 12px;
}

.join-button:hover{
  background-color: rgb(50, 50, 188);
  color: white;
}

.join-button:active{
  opacity: 0.5;
}

.tweet-button{
  background-color:rgb(29, 155, 240);
  border-radius: 40px;
  color: white;
  cursor: pointer;
  padding: 7px 16px;
  border-color:rgb(29, 155, 240);
  font-weight: bold;
  font-size: 15px;
  border-style: solid;
  transition: box-shadow 1s;
}

.tweet-button:active{
  opacity: 0.5;
}

.tweet-button:hover{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);

}
